<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hazulnut.admin.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="org.hazulnut.admin.entity.UserPO">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="salt" jdbcType="VARCHAR" property="salt" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_time" jdbcType="INTEGER" property="createTime" />
        <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
        <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    </resultMap>

    <select id="selectAllUser" resultMap="BaseResultMap">
        SELECT * FROM orm_user
    </select>
    
    <select id="selectPageUser" resultType="org.hazulnut.admin.entity.UserPO">
        SELECT * FROM orm_user
    </select>

</mapper>